<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head></head>

<body style="font-family: &apos;Roboto&apos;; font-size: 16pt">
    <div style="width: 70%; display: flex; flex-direction: column; align-items: center; align-content: center; border: 3px solid indigo; border-radius: 30px; padding: 20px" class="esd-text">
        <div style="
transform: scale(2);
padding: 0;
margin: 0;
width: 60px;
display: flex;
justify-content: center;
align-items: center;
"><svg width="393" height="370" viewBox="0 0 393 370" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M230.715 39.9566C215.921 12.9125 177.079 12.9125 162.285 39.9566L24.1164 292.533C9.89916 318.523 28.7072 350.25 58.3316 350.25H334.668C364.293 350.25 383.101 318.523 368.884 292.533L230.715 39.9566Z" stroke="#6366F1" stroke-width="38" stroke-linejoin="round" />
            </svg>
            </div>
            
            <h1>HomeGuru</h1>
            </br>
            </br>
            </hr>
            
        <h2>Добро пожаловать в "Home.Guru", {{fullName}}!</h2>
        <p>Для активации Вашего аккаунта необходимо перейти по ссылке: <a href="http://localhost:3000/confirm-email/?code={{activationCode}}">Активация</a></p>
        <p>Если ссылка не открывается, просто скопируйте её и вставьте в строку браузера:</p>
        <p><a href="http://localhost:3000/confirm-email/?code={{activationCode}}">http://localhost:3000/auth/confirm-email/?code={{activationCode}}</a></p>
    </div>
</body>

</html>